.main-container {
    margin: 30px 120px;
    animation: appear 1s;
    }

.align-title {
    text-align: center;
    margin-bottom: 40px;
}
.seta {
    animation: arrowHome 1s infinite alternate;
    margin-right: 38px;
}
.sintomas-covid {
  margin: 20px;

}
.sintomas-covid > ol > li {
  font-size: 20px;
}
.prevencoes-covid {
  margin: 20px;
}
.prevencoes-covid > h3 {
  font-weight: 200;
}
@keyframes arrowHome {
    0% {
        transform: translateX(20px);
        }
        100% {
        transform: translateX(0px);
        }
  }
  @keyframes arrowHomeDown {
    0% {
        transform: translateY(20px);
    }
    100% {
    transform: translateY(0px);
    }
    
  }

@keyframes appear {
        0% {
        transform: translateY(40px);
        }
        100% {
        transform: translateY(0px);
        }
        from {opacity: 0;}
        to {opacity: 1;}
  }

  @media screen and (max-width: 650px) {
    .main-container {
        margin: 7px;
        height: auto;
    }
  }
  @media screen and (max-width: 857px) {
    .main-container {
        text-align: center;
    }
  }
