.container-nacional {
    background: rgba(255,255,255,0.5); 
    background: url('../../assets/section-nacional.png') no-repeat;
    background-size: cover;
    text-align: center;
    height: 176vh;
    margin: 0px 120px;
    padding-top: 30px;
}

option {
    padding: 1px;
}
label {
    font-weight: bold;
}
#calcular {
    color: white;
    background-color: rgb(91, 148, 94);
    padding: 7px;
    border: none;
    margin: auto;
    display: block;
    width: 50%;
}
.display-flex-resultados {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.item-flex-resultados {
    border: 1px solid rgba(0, 0, 0, 0.192);
    background-color: rgb(255, 255, 255);
    width: 330px;
    height: 400px;
}
.item-flex-resultados > h2 {
    padding: 12px 0;
}
.display-flex-resultados > .item-flex-resultados > .fas > .fa-check {
    color: green;
}
.select-estados {
    margin: auto;
    border-radius: 5px;
    padding: 7px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.219);
    width: 50%;
}
option {
    padding: 1px;
}
.A1 {
    background: url('../../assets/AC.png') no-repeat left;
    background-size: contain;
}
.A2 {
    background: url('../../assets/AL.png') no-repeat;
    background-size: contain;
}
.A3 {
    background: url('../../assets/AP.png') no-repeat;
    background-size: contain;
}
.A4 {
    background: url('../../assets/AM.png') no-repeat;
    background-size: contain;
}
.A5 {
    background: url('../../assets/BA.png') no-repeat;
    background-size: contain;
}
.A6 {
    background: url('../../assets/CE.png') no-repeat;
    background-size: contain;
}
.A7 {
    background: url('../../assets/DF.png') no-repeat;
    background-size: contain;
}
.A8 {
    background: url('../../assets/ES.png') no-repeat;
    background-size: contain;
}
.A9 {
    background: url('../../assets/GO.png') no-repeat;
    background-size: contain;
}
.A10 {
    background: url('../../assets/MA.png') no-repeat;
    background-size: contain;
}
.A11 {
    background: url('../../assets/MT.png') no-repeat;
    background-size: contain;
}
.A12 {
    background: url('../../assets/MS.png') no-repeat;
    background-size: contain;
}
.A13 {
    background: url('../../assets/MG.png') no-repeat;
    background-size: contain;
}
.A14 {
    background: url('../../assets/PA.png') no-repeat;
    background-size: contain;
}
.A15 {
    background: url('../../assets/PB.png') no-repeat;
    background-size: contain;
}
.A16 {
    background: url('../../assets/PR.png') no-repeat;
    background-size: contain;
}
.A17 {
    background: url('../../assets/PE.png') no-repeat;
    background-size: contain;
}
.A18 {
    background: url('../../assets/PI.png') no-repeat;
    background-size: contain;
}

.A19 {
    background: url('../../assets/RJ.png') no-repeat;
    background-size: contain;
}
.A20 {
    background: url('../../assets/RN.png') no-repeat;
    background-size: contain;
}
.A21 {
    background: url('../../assets/RS.png') no-repeat;
    background-size: contain;
}
.A22 {
    background: url('../../assets/RR.png') no-repeat;
    background-size: contain;
}
.A23 {
    background: url('../../assets/RO.png') no-repeat;
    background-size: contain;
}
.A24 {
    background: url('../../assets/SC.png') no-repeat;
    background-size: contain;
}
.A25 {
    background: url('../../assets/SP.png') no-repeat;
    background-size: contain;
}
.A26 {
    background: url('../../assets/SE.png') no-repeat;
    background-size: contain;
}
.A27 {
    background: url('../../assets/TO.png') no-repeat;
    background-size: contain;
}