.container-footer {
    background-color: rgb(39, 39, 39);
    height: 57vh;
    color: #fff;
}

.container-footer > .body-footer > a {
    color: rgb(125, 160, 121);;
    margin: 30px;
}
.container-footer > .body-footer > a:hover {
    color: #fff;
}

.body-footer {
    text-align: center;
    margin: 0 100px;
}
.spinning {
    font-size: 30px;
    animation-name: spin;
    animation-duration: 6000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}